<div class="body">
    <div class="taskbar">
        <div class="welcome">
            Xin chào,
            <label class="user">{{user}}</label><br/>
            <button (click)="logout()">Đăng xuất</button>
        </div>
        <div class="category">
            <a class="button" (click)="tabChange('index')">
                <i class="button-icon fas fa-home"></i>
                <div class="button-text">Trang chủ</div>
            </a>
            <a class="button" (click)="tabChange('detail')">
                <i class="button-icon fas fa-info-circle"></i>
                <div class="button-text">Giao dịch</div>
            </a>

            <a class="button" (click)="tabChange('income')">
                <i class="button-icon fas fa-coins"></i>
                <div class="button-text">Thu nhập</div>
            </a>

            <a class="button" (click)="tabChange('spend')">
                <i class="button-icon fas fa-comment-dollar"></i>
                <div class="button-text">Chi tiêu</div>
            </a>

            <a class="button" (click)="tabChange('statistic')">
                <i class="button-icon fas fa-wallet"></i>
                <div class="button-text">Thống kê</div>
            </a>
        </div>
    </div>
</div>
