.money {
    position: absolute;
    width: 1200px;
    top: -350px;
    left: 220px;
    font-size: 3rem;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-index {
    position: relative;
}

.btn {
    width: 30%;
    height: 40px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    font-family: sans-serif;
    /* margin-top: 10px; */
    text-align: center;
    position: relative;
    margin-left: 30px;
}

.btn:hover {
    background-color: #3c96d2;
}